<div class ="global">
<header>

<h1>Centros de Acopio</h1>

</header>

<div class = "contenedor">
  <div class = "grid-item navegador">
    <nav>
      <ul>
        
      <a href="#"><li>Inicio </li></a>
      <a href="#"><li>Aceite comestible</li></a>
      <a href="#"><li>Aceite Automotor</li></a>
      <a href="#"><li>Pilas</li></a>
      <a href="#"><li>Electronicos</li></a>
      </ul>
    </nav>
  </div>
  <div class ="grid-item info">
    <main>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1dCU9HEhx86KVpVTyEBJEXFzPpmnwS_64Xi8aSICfEuiwpCfZ" alt="Pilas">
      <h2>Por que se el manejo adecuado </h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing 
        elit. Dignissimos, molestias! Veritatis, fuga vitae 
        itaque earum illo accusamus eaque odit quidem ea animi 
        laudantium minus quo natus at maxime rem quibusdam!Placeat 
        ducimus odit nam unde? Illum veniam cupiditate, soluta quam 
        fugiat porro. Veniam laboriosam assumenda sit voluptatem? 
        Nostrum amet consequatur accusantium, ipsam veniam, 
        necessitatibus a neque inventore sequi harum accusamus?</p>
      </main>
      </div>
  </div>
  <div class= "container footer">
<footer>
<p>Todos los derechos reservados</p>
</footer>
</div>
</div>
